// Put all variables and mixins in here.
// Import it from each SCSS file.

$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;

$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;

@import "compass/css3";
@import "compass/css3/user-interface"; // https://github.com/chriseppstein/compass/issues/759
@import "bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins";

// Configurables
$headerbar-height: 44px;
$headerbar-font-size: 20px;

$footerbar-height: 44px;
$footerbar-font-size: 20px;