body {
    margin-left: 0;
}

#appheader {
    background-color: #aaa;
    height: 44px;
    width: 100%;
}
#appfooter {
    background-color: #aaa;
    height: 44px;
    width: 100%;
}
/* STYLES FOR POSITIONFIXED */
html.positionfixed, .positionfixed body {
    height: 100%;
}
.positionfixed #appheader {
    position: fixed;
    top: 0;
    z-index: 1;
}
.positionfixed #appfooter {
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.positionfixed #main {
    position: relative;
    padding-top: 44px;
    padding-bottom: 44px;
}

html.overflowscroll, .overflowscroll body, html.iscroll, .iscroll body {
    height: 100%;
}
.overflowscroll #appheader,
.iscroll #appheader {
    position: absolute;
    top: 0;
}
.overflowscroll #appfooter,
.iscroll #appfooter {
    position: absolute;
    bottom: 0;
}
.overflowscroll #main,
.iscroll #main {
    position: absolute;
    top: 44px;
    bottom: 44px;
    width: 100%;
    overflow-y: scroll;
}
.overflowscroll #iscrollinner,
.iscroll #iscrollinner {
    position: absolute;
}